.rdw-editor-main {
  height: 160px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 12px;
}

.rdw-editor-main-content {
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: justify;
  text-justify: inter-word;
  color: rgb(255, 107, 53);
  overflow: auto;
}

.rdw-editor-toolbar {
  padding: 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  flex-wrap: wrap;
  font-size: 15px;
  user-select: none;
}
.public-DraftStyleDefault-block {
  margin: 1em 0;
}
.rdw-editor-wrapper:focus {
  outline: none;
}
.rdw-editor-wrapper {
  /* padding: 24px;
  width: 656px;
  height: 340px;
  border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); */
}
.rdw-editor-main blockquote {
  border-left: 5px solid #f1f1f1;
  padding-left: 5px;
}
.rdw-editor-main pre {
  background: #f1f1f1;
  border-radius: 3px;
  padding: 1px 10px;
}

.textStyleDiv {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgb(50, 50, 50);
  margin-bottom: 4px;
}

.textDiv {
  display: flex;
  height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgb(50, 50, 50);
  margin-top: 24px;
  margin-bottom: 4px;
}